html{
	font-size: 50%;
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	/*background-color: #FFFAFA;*/
	color: #333;
  	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	line-height: 1.6;
	font-weight: 400;
}
a{
	text-decoration: none;
	color: #444;
}
.headerWrapper{
  	text-align: left;
  	box-shadow: 0px 1px 5px;
	/*background-color: #333;
	color: #fff;*/
}
.header{
  text-align: center;
  top: auto;
  margin: 0;
  padding: 0.5rem;
}
.headerTop{
	overflow: hidden;
}
.h1{
	font-size: 2.75rem;
	background: -webkit-linear-gradient(#555, #222);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
}
.h1, .h2, .h3, .h4, .h5 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
}
.headerToggle{
	display: none;
}
.brand-title{
	/*color: #fff;*/
  	text-transform: capitalize;
  	margin: 0;
	background: none;
	float: left;
	-webkit-text-fill-color: initial;
}
.brand-tagline{
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: left;
  width: 50%;
  float: left;
  margin: 1.25rem 0 0;
  padding: 1rem;
}
.aboutPhoto{
	width: 200px;
	float: right;
	margin: 0 0 4rem 4rem;
}
.navWrapper{
	width: 50%;
	display: inline-block;
	text-align: right;
	border-left: thin solid #444;
}
.nav-list{
	margin: 0.75rem 0 0;
	padding: 0;
	list-style: none;
}
.nav-item{
	margin: 0.5rem 0;
}
.nav-item a{
  text-decoration: none;
  font-weight: bold;
  /*color: #fff;*/
}
.nav-item a:hover{
  text-decoration: underline;
}
.navToggle{
	font-size: 3rem;
	float: right
}
.navToggle:hover{
  	cursor: pointer;
	color: #f39c12;
}
.navToggleUp{
  transform:rotate(180deg);
}
.content{
	padding: 2rem 1rem;
	margin-bottom: 8rem;
}
.nav-item a.active{
  color: #f39c12;
}
.blogList{
	list-style: none;
	padding: 0;
}
.blogListItem{
	border: thin solid #444;
	/*background-color: #fff;*/
	margin-bottom: 2rem;
	overflow: hidden;
}
.blogListItemAnchor:hover{
	background-color: #333;
	color: #f39c12;
}
.blogListItemAnchor{
	text-decoration: none;
	/*color: #333;*/
	font-weight: bold;
	display: block;
	padding: 1rem;
	font-size: 2rem;
}
.blogListItemAnchor span{
	font-weight: 400;
}
.footer{
	padding: 0.5rem 0 0.5rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*background-color: #333;
	color: #fff;*/
	border-top: thin solid #333;
	text-align: center;
	margin-top: 2rem;
	font-size: 1.75rem;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.text-center{
	text-align: center;
}
.vCenter{
	display: flex;
	align-items: center;
}
.contentLink{
  text-decoration: none;
  font-weight: bold;
  color: #444;
}
.contentLink:hover{
	text-decoration: underline;
}

.portfolioList{
	list-style: none;
	padding: 0;
}
.portfolioListItem{
	/*height: 10rem;*/
	width: 100%;
	border: thin solid #444;
	position: relative;
}
.portfolioListItem:not(:last-child){
	margin-bottom: 2rem;

}
.portfolioListItemAnchor{
	display: block;
	height: 100%;
	font-size: 3rem;
	height: 10rem;
	transition: height 0.5s;
}
.portfolioListItemTitle, .portfolioListItemPicture{
	position: absolute;
	width: 100%;
	height: 100%;
}
.portfolioListItemPicture{
	opacity: 0.1;
	background-size: cover;
}
.portfolioListItemTitle{
	z-index: 10;
	text-align: center;
	font-weight: 800;
}

.portfolioListItemAnchor:hover .portfolioListItemPicture{
	opacity: 1;
}
.portfolioListItemAnchor:hover .portfolioListItemTitle{
	z-index: 0;
}




/*.background{
	position: relative;
}
.background:after{
	content: "";
	background-image: url("../images/background_1.jpg");
	background-size: cover;
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity : 0.2;
    z-index: -1;
}*/
@media (min-width: 550px) {
	html{
		font-size: 62.5%;
	}
	body{
		font-size: 1.8rem;
	}
	.brand-tagline, .navWrapper{
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
		border: none;
	}
	.content{
		max-width: 800px;
		margin: 0 auto;
		padding: 5rem;
	}
	.h1{
		font-size: 4.5rem;
	}
	.brand-title{
		float: none;
		text-align: center;
	}
	.navToggle{
		display: none;
	}
	.headerToggle{
		display: block !important;
	}
	.nav-item{
		display: inline-block;
		margin-bottom: 1em;
	}
	.nav-item+.nav-item:before{
		content: "|";
	}
	.portfolioListItemAnchor:hover{
		height: 25rem;
	}
}

