.header__nav{
	// width: 50%;
	// display: inline-block;
	// text-align: right;
	// border-left: thin solid #444;
}
.nav__list{
	margin: 0.75rem 0 0;
	padding: 0;
	list-style: none;
}
.nav__item{
	font-size: 3rem;
}
.nav__item a{
  text-decoration: none;
  font-weight: bold;
  padding: 1.5rem 0;
  display: block;
  border-top: thin solid #444;
  /*color: #fff;*/
}
.nav__item a.active{
  color: #f39c12;
}
.nav__item a:hover{
  text-decoration: underline;
}
.nav-toggle{
	float: right
}
.nav-toggle:hover{
  cursor: pointer;
	color: #f39c12;
}
/* .navToggleUp{
  transform:rotate(180deg);
} */

@include breakpoint(medium){
	.nav{
		display: inline-block;
	}
	.header__nav{
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
		border: none;
	}
	.nav-toggle{
		display: none;
	}
	.nav__item{
		display: inline-block;
		margin: 0.5rem 0;
		font-size: inherit;
		padding: 0;
		font-size: inherit;
		border: none;

		a{
			border: none;
			display: inherit;
			padding: 0;
		}
	}
	.nav__item+.nav__item:before{
		content: "|";
	}
}
