.post-header{
	margin-bottom: 5rem;
}
.post-title, .post-meta{
	margin: 0;
}

.post-content{
	p{
		margin: 2rem 0 2rem 0;
	}
	ol{
		list-style-position: inside;
		li{
			margin: 3rem 0 3rem 0;
			p{
				margin: 1rem 0 1rem 0;
				display: inline-block;
			}
			
		}
	}
}