---
layout: default
title: Thomas Brunner - Portfolio
linkName: Portfolio
permalink: "portfolio.html"
---

    <div class="content">
    	<h1 class="h1">Portfolio</h1>

		<ul class="portfolioList">
			{% for project in site.portfolio %}
		        <li class="portfolioListItem">
		          <a href="{{ project.url }}"  class="portfolioListItemAnchor">
		          	<div class="portfolioListItemContainer"> 
		          		<span class="portfolioListItemTitle">{{ project.title }}</span>
		          		<div class="portfolioListItemTechContainer">
		          			{% for tech in project.technologies %}
		          				<span class="portfolioListItemTech">{{ tech.name }}</span>
		          			{% endfor %}
		          		</div>
		          	</div>
		          	<div class="portfolioListItemPicture" style="background-image: url('{{project.linkIcon}}')"></div>
		          </a>
		        </li>
		    {% endfor %}
		</ul>
    </div>
  </div>