.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  background: #212121;
  color: #fff;
}
.header{
  text-align: right;
  margin: 2em 2em 0;
  top: auto;
}
.brand-title{
  text-transform: uppercase;
  margin: 0;
  opacity: 0.87;
}
.brand-tagline{
  font-weight: 300;
  opacity: 0.54;
}
.avatarContainer{
  margin: 2em;
}
.nav-item{
  display: inline-block;
}
.nav-item a{
  background: transparent;
  border: thin solid #fff;
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%
}
.nav-item a:hover{
  background: #fff;
  color: #000;
}
