body{
  font-family: 'Ubuntu', sans-serif !important;
  background-color: gold;
}
pre{
  font-size: 130px;
}
#header{
  padding: 20px;
  border-bottom: 5px solid gold;
  background: #000;
}
#headerText{
  color: gold;
  font-size: 30px;
  font-weight: bold;
}
.screen{
  height: 100vh;

  position: relative;
}
.vCenter{
  display: flex;
  align-items: center;
}
.welcome{
  padding-top: 20px;
}
.next{
  position: absolute !important;
  bottom: 0;
  margin-bottom: 10px;
}
.navArrow{
  font-size: 26px;
  color: black;
}
