<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    {% seo %}
    <link href="/feed.xml" rel="alternate" type="application/atom+xml" />
    <title>
        {% if page.title %} {{ page.title }} | {{ site.title}} {% else %} {{
        site.title }} {% endif %}
    </title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <script>
        if (
            localStorage.getItem("thomasbrunner.xyz.theme") === "dark" ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches &&
                !localStorage.getItem("thomasbrunner.xyz.theme"))
        ) {
            document.documentElement.setAttribute("theme", "dark");
        }
    </script>
</head>
