<div class="headerWrapper">
  <header class="header">
    <div class="headerTop">
      <a href="/">
        <h1 class="brand-title h1">Thomas Brunner</h1>
      </a>
      <i class="icon-down-circle navToggle"></i>
    </div>

    <div class="headerToggle">
      <div class="brand-tagline">
        web developer in learning - management &amp; technology graduate - language enthusiast - vegetarian - traveller
      </div>

      <div class="navWrapper">
        {% include nav.html %}
      </div>
    </div>
  </header>
</div>
