<div class="header-wrapper">
  <header class="header">

    <div class="header__customise" hidden>
      <span class="header__customise__theme" hidden>
        <label for="theme">Theme: </label>
        <select name="theme" id="theme">
          <option value="light" data-background-color="#fff" data-color="#333" selected>Light</option>
          <option value="dark" data-background-color="#333" data-color="#fff">Dark</option>
          <option value="gold" data-background-color="gold" data-color="#333">Gold</option>
        </select>
        <input type="button" value="apply" class="button" id="apply-theme">
      </span>

      <div class="header__customise__controls">
        <span class=" customise__controls customise__controls--theme">Theme</span>
        <!-- <span class="controls__hide-header funct">Hide</span>   -->
      </div>
      
    </div>


    <div class="header__top">
      <a href="/">
        <h1 class="header__top__title h1">Thomas Brunner</h1>
      </a>
      <i class="fa fa-bars fa-2x nav-toggle"></i>
    </div>


    <div class="header__toggle">
      <div class="header__tags">
        web developer (prospective) - management &amp; technology graduate - language enthusiast - vegetarian - traveller - minimalist
      </div>

      <div class="header__nav">
        {% include nav.html %}
      </div>
    </div>
  </header>
</div>
