<!doctype html>
<html>
<head>

  <!-- CSS -->
  <!-- Google fonts -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'> -->
  
  <!--<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
  //   WebFont.load({
  //     google: {
  //       families: ['Open+Sans:800,400:latin', 'Open+Sans+Condensed:700:latin']
  //     }
  //   });
  // </script>
  -->

  
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:800,400:latin', 'Open+Sans+Condensed:700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  
  <!-- End Google fonts -->

  <!-- Font Awesome -->
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '/css/font-awesome.min.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <!-- End Font Awesome -->


  <!-- Custom CSS -->
  <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '/css/global.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script>
  <!-- End Custom CSS -->

  <!-- Favourites icon -->
  <link rel="icon" type="image/png" href="/assets/images/favicon32.png">



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

</head>

<body>
