---
layout: default
---
<article class="project content">
	<h1 class="h1 projectTitle">{{ page.title }}</h1>
	<span class="projectContext">({{ page.context }})</span>
	<section class="projectContent">
		<h2 class="h2">The project</h2>
		{{ content }}	
	</section>
	<section class="projectScreenshots">
		<h2 class="h2">Screenshots</h2>
		coming soon...
		<!-- {% for img in page.screenshots %}
			<img src="{{img.src}}" class="projectScreenshot">
		{% endfor %} -->
	</section>

	{% include comments.html %}
</article>